<!-- Banner
================================================== -->
<div class="main-search-container plain-color">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-search-headlines">
						<h2>
							 
                            <ngx-typed-js [strings]="['meilleurs talents.', 'meilleurs freelances.']"
                                          [shuffle]="true" [typeSpeed]="80" [backSpeed]="80" [loop]="true"
                                          [backDelay]="4000" [startDelay]="1000" [showCursor]="true">
                                 A la recherche  de <span class="typing"></span>
                              </ngx-typed-js>
						</h2>
						<h4>Trouvez vos experts parmi les 240 000 freelances sur SITE NAME</h4>
					</div>

					<div class="main-search-input">

						<div class="main-search-input-item location">
							<div id="autocomplete-container">
								<input id="autocomplete-input" type="text" placeholder="Essayez avec Abidjan">
							</div>
							<a href="#"><i class="fa fa-map-marker"></i></a>
						</div>

						<div class="main-search-input-item">
							<select data-placeholder="Toutes les Categories" class="chosen-select" >
								<option>Toutes les Categories</option>	
								<option *ngFor="let categorie of categories; let i=index; trackBy: trackByFn" [value]="categorie.value">{{ categorie.title}}</option>

							</select>
						</div>

						<button class="button" >Trouver votre freelance</button>

					</div>
				</div>
			</div>
		</div>
 
	</div>

	<!-- Main Search Photo Slider -->
	<div class="container msps-container">

		<div class="main-search-photo-slider">
			<div class="msps-slider-container">


				<ngx-slick-carousel class="msps-slider" 
								#slickModal="slick-carousel" 
								[config]="slideConfig" >

						<div ngxSlickItem *ngFor="let image_slide of banner_slider_images; let i=index; trackBy: trackByFn" class="item">
							<img [src]="image_slide" class="item " [title]="'Banner '+ index"/>
						</div>
				</ngx-slick-carousel>
			</div>
		</div>
		<div class="msps-shapes" id="scene">

			<div class="layer" data-depth="0.2">
				<svg height="40" width="40" class="shape-a">
					<circle cx="20" cy="20" r="17" stroke-width="4" fill="transparent" stroke="#C400FF" />
				</svg>
			</div>

			<div class="layer" data-depth="0.5">
				<svg width="90" height="90" viewBox="0 0 500 800" class="shape-b">
				<g transform="translate(281,319)">
				<path fill="transparent" style="transform:rotate(25deg)" stroke-width="35" stroke="#F56C83" fill  d="M260.162831,132.205081
				A18,18 0 0,1 262.574374,141.205081
				A18,18 0 0,1 244.574374,159.205081H-244.574374
				A18,18 0 0,1 -262.574374,141.205081
				A18,18 0 0,1 -260.162831,132.205081L-15.588457,-291.410162
				A18,18 0 0,1 0,-300.410162
				A18,18 0 0,1 15.588457,-291.410162Z"/></g></svg>
			</div>

			<div class="layer" data-depth="0.2" data-invert-x="false" data-invert-y="false" style="z-index: -10">
				<svg height="200" width="200" viewbox="0 0 250 250" class="shape-c">
				<path d="
				    M 0, 30
				    C 0, 23.400000000000002 23.400000000000002, 0 30, 0
				    S 60, 23.400000000000002 60, 30
				        36.599999999999994, 60 30, 60
				        0, 36.599999999999994 0, 30
				" fill="#FADB5F" transform="rotate(
				    -25,
				    100,
				    100
				) translate(
				    0
				    0
				) scale(3.5)"></path>
				</svg>
			</div>


			<div class="layer" data-depth="0.6" style="z-index: -10">
				<svg height="120" width="120" class="shape-d">
					<circle cx="60" cy="60" r="60" fill="#222" />
				</svg>
			</div>


			<div class="layer" data-depth="0.2">
				<svg height="70" width="70" viewBox="0 0 200 200"  class="shape-e">
					<path fill="#FF0066" d="M68.5,-24.5C75.5,-0.8,58.7,28.5,33.5,46.9C8.4,65.4,-25.2,73.1,-42.2,60.2C-59.2,47.4,-59.6,13.9,-49.8,-13.7C-40,-41.3,-20,-63.1,5.4,-64.8C30.7,-66.6,61.5,-48.3,68.5,-24.5Z" transform="translate(100 100)" />
				</svg>
			</div>

		</div>
		
	</div>



</div>